@import url("./reset.css");
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Montserrat&family=Roboto&display=swap');

:root {
    --color-subrayado: rgb(156, 146, 114);
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url(../img/grey-2661270.webp);
    background-size: cover;
}

/* ESTILOS NAV */
.nav_bar {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 80px;
    color: white;
    font-family: 'Anton', sans-serif;
    position: fixed;
    z-index: 2;
}

.nav_menu {
    display: none;
}

.nav_links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 50px;
    height: 90%;
}

.nav_links a {
    display: flex;
    align-items: center;
    margin: 30px;
    font-size: 40px;
    padding: 5px;
    position: relative;
    cursor: pointer;
    transition: all 0.5s;
}

/*Efecto de subrayado a los links de inicio y links de trabajos*/
.nav_links a::before,
.img_desktop_texto a::before {
    content: " ";
    position: absolute;
    left: 0;
    bottom: -7px;
    width: 0;
    height: 5px;
    background-color: var(--color-subrayado);
    transition: all 0.5s;
}

.nav_links a:hover::before,
.img_desktop_texto a:hover::before {
    width: 100%;
}


/*  INICIO   */

.inicio {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-grow: 1;
    justify-content: space-around;
    gap: 30px;
    margin: 0 30px;
    margin-top: 80px;
    animation: animacion 1s ease 0s 1 normal forwards;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.inicio img {
    filter: sepia();
    border-radius: 50%;
    width: 100%;
}

.inicio_imagen {
    width: 60%;
    max-width: 400px;
}

.inicio_texto {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    gap: 40px;
    width: 50%;
}

.inicio_texto_titulo {
    text-align: center;
    font-size: 100px;

    /*Propiedad para darle un efecto Gradiente a las letras de INICIO*/
    background: linear-gradient(180deg, rgba(2, 0, 36, 1) 0%, rgba(53, 47, 37, 1) 17%, rgba(255, 242, 189, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.inicio_texto p {
    line-height: 30px;
    text-align: justify;
    font-size: 20px;
}

.inicio_texto span {
    color: var(--color-subrayado);
}



/* FORMACIÓN Y EXPERIENCIA */
.formexp {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-family: 'Roboto', sans-serif;
    flex-grow: 1;
    margin-top: 80px;
}

.formexp_titulo,
.trabajos_titulo {
    margin-top: 30px;
    width: 80%;
    text-align: center;
    font-size: 50px;
    font-weight: bolder;
    border-bottom: 4px solid var(--color-subrayado);
}

.formexp_container h2 {
    font-size: 30px;
    text-align: center;
    font-family: 'Anton', sans-serif;
    line-height: 50px;
    width: 30%;

}

.formexp_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    padding: 30px 0;
    animation: animacion 1s ease 0s 1 normal forwards;
    z-index: -1;
}

.formexp_container_content {
    display: flex;
    align-items: center;
    width: 90%;
    padding: 30px;
}

.formexp_container_content_img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
}

.formexp_container_content_texto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    align-items: flex-start;
    width: 50%;
    line-height: 25px;
}

.formexp_container_content_texto span {
    border-bottom: 2px solid var(--color-subrayado);
    font-weight: bolder;
    font-size: 20px;
}

.formexp_container_content_img img {
    width: 60%;
    min-width: 250px;
    border-radius: 5px;
}

ul {
    list-style-type: disc;
    margin-left: 15px;
    line-height: 25px;
}

/* TRABAJOS */

.trabajos {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    padding: 30px;
    margin-top: 50px;
    animation: animacion 1s ease 0s 1 normal forwards;
    font-family: 'Roboto', sans-serif;

}

.trabajos_container {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
    padding: 20px;
    width: 70%;

}

.trabajos_imgs {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.trabajos_imgs_desktop {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    width: 50%;
    padding: 0 20px;
}


.img_desktop_texto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.trabajos_container p {
    font-size: 20px;
    line-height: 25px;
}

.trabajos_container a {
    position: relative;
    font-size: 25px;
    font-weight: bold;
}

.img_movil {
    max-height: 500px;
}

.img_desktop {
    max-width: 480px;
}

/*Animación comun para todas las páginas*/
@keyframes animacion {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


/* FOOTER */
footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 80px;
    padding: 15px;
    background-color: black;
    color: white;
}

footer {
    font-size: 30px;
}

.footer_social {
    display: flex;
    gap: 20px;
}

.footer_social a:nth-child(1):hover {
    color: #0e76a8;
}

.footer_social a:nth-child(2):hover {
    color: #00acee;
}

.footer_social a:nth-child(3):hover {
    color: #f26a6a;
}


@media(max-width:1024px) {

    .nav_links {
        position: absolute;
        top: 80px;
        left: 0;
        background-color: black;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        height: 100vh;
        transform: translateX(-100%);
        transition: all 0.1s ease-in-out;
        z-index: 1;
    }

    /*Con la clase abrir el menu se despliega*/
    .abrir {
        transform: translateX(0);
    }

    .nav_menu {
        display: flex;
        flex-direction: column;
        margin-right: 15px;
    }

    .nav_menu:hover {
        cursor: pointer;
    }

    /* 3 Rayas del menú hamburguesa*/
    .nav_menu span {
        width: 35px;
        height: 5px;
        background-color: white;
        margin-bottom: 5px;
        border-radius: 5px;

        /*Transform Origin*/
        transform-origin: 5px 0px;
        
        /*Transición*/
        transition: all 0.5s;
    }

    /*Cuando se cierra la transición se hace un transform de estos 3 elementos*/
    .cerrar span {
        transform: rotate(45deg) translate(0px, 0px)
    }

    .cerrar span:nth-child(2) {
        display: none;
    }

    .cerrar span:nth-child(3) {
        transform: rotate(-45deg) translate(-9px, 2px)
    }

    
  

    .inicio {
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        margin-bottom: 20px;
    }

    .inicio_texto {
        width: 100%;
    }

    .inicio_texto_titulo {
        font-size: 90px;
    }

    .inicio_texto p {
        font-size: 20px;
    }

    .formexp_container {
        width: 100%;
    }

    .formexp_container_content {
        flex-direction: column;
        align-items: center;
        gap: 30px;
        padding: 0;
    }

    .formexp_container_content h2 {
        width: 90%;
    }

    .formexp_container_content_texto {
        width: 90%;
    }

    .formexp_container img {
        max-width: 300px;
    }

    .trabajos {
        padding: 10px;
        margin-top: 80px;
    }

    .trabajos_container {
        align-items: center;
        width: 100%;
        padding: 0;
        margin: 0;
    }

    .trabajos_imgs {
        flex-direction: column;
        align-items: center;
        gap: 80px;
        width: 85%;
        margin-top: 30px;
    }

    .trabajos_imgs_desktop {
        width: 100%;
    }

    .img_movil {
        display: none;
    }

    .img_desktop {
        width: 350px;
    }
}

@media(max-height:550px) {
    .nav_links a {
        margin: 8px;
    }

    .nav_links {
        top: 50px;
    }

    .nav_bar,
    footer,
    .nav_bar img {
        height: 55px;
    }

}